/*Web Application Development, Jaspreet, 29/1/25*/

#projects {
    overflow: hidden;
    width: 100vw;
    max-width: 80rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin: 0 auto;
    padding: 2rem;
}

.title {
    font-size: 4rem;
    font-weight: 600;
    text-align: center;
    padding-top: 3rem;
    margin-bottom: 1.5rem;
}

.projectDisplay {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 2rem;
    width: 100%;
}

.projectDisplay > .projectDisplay {
    width: 30%; 
    border: 1px solid #ccc;
    padding: 1rem;
    box-sizing: border-box;
    text-align: center;
}

.projectDisplayImg {
    width: 100%;
    height: auto;
    object-fit: cover;
    margin-bottom: 1rem;
}

.projectDisplayText h2 { 
    font-size: 2rem;
    font-weight: 400;
    margin-bottom: 0.5rem;
}

.projectDisplayText p {
    font-size: 1.2rem;
    font-weight: 200;
}
